.character-card {
  align-items: flex-end;
  background-size: 190px;
  background-repeat: no-repeat;
  border: 1px solid black;
  display: flex;
  flex-direction: ;
  height: 250px;
  margin: 0px 30px;
  min-width: 190px;
}

.character-card-img {
  position: relative;
  width: 170px;
  height: 250px;
  z-index: -1;
}

.character-card-text {
  color: white;
  z-index: 1;
}

.character-card-name-box {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
}

.character-card-text {
  height: 100%;
  margin: 0px 5px;
}