.home-section {
  max-height: 900px;
  padding: 50px;
}

.featured-character-article {
  border: 1px solid black;
  box-shadow: 0px 0px 20px;
  display: flex;
  height: 250px;
  margin: auto;
  width: 80%;
}

.featured-character-img {
  box-shadow: 0px 0px 20px;
  max-width: 250px;
  max-height: 250px;
}

.featured-character-info {
  box-shadow: -4px 0px 15px 1px;
  background-color: black;
  padding: 10px 20px;
  width: 100%;
}

.featured-character-text {
  color: white;
}

h2 {
  margin: 0px 0px 10px
}