
nav {
  background-color: black;
  padding: 10px 0px 0px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0px;
  text-align: center;
}

.navigation-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 0px 0px;
}

.navigation-links {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.25em;
  height: 30px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.navigation-links:hover {
  background-color: white;
  color: black;
}