.carousel-section {
  align-items: center;
  /* border: 1px solid black; */
  display: flex;
  height: 300px;
  margin: 0px 0px 50px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}