* {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

main {
  background: url('../../images/Background-stock.jpg');
  background-repeat: repeat;
  min-height: 700px;
}

.loading {
  margin: 100px 40%;
  width: 20%;
}